    ::selection {
  background: cyan;
}

html {
  height: 100%;
  background-image: linear-gradient(to top, #459ec4, #337693);
}

body {
  height: 100%;
  margin: 1%;
  font-size: 14pt;
}

header {
    font-size: 12pt;
    font: 'sans-serif';
    color: #74f1d4;
    margin-bottom: 5%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: #e0f7fa;
}

#main_table {
    margin-left: auto;
    margin-right: 0%;
    border: none;
  border-collapse: separate;
  background: transparent;
}

#for_result_table {
  vertical-align: top;
}

#for_input_table {
    vertical-align: top;
    padding-right: 5%;
}

#main_table > tbody > tr > td {
  border: none;
  background: transparent;
}

#input_table > tbody > tr > td {
  border: none;
  background: transparent;
}

#input_table {
  border-radius: 20px;
  overflow: hidden;
}

#eror_message {
  vertical-align: top;
    background-color: #e0f7fa;
    border-radius: 8px;
    
    color: hwb(0 0% 100%);
    font-weight: bold;
    font-size: 20pt;
    margin-left: 30%;
    padding-left: 0.5%;
  padding-right: 0.5%;}

input[name="x"].active {
  background-color: #4caf50;
  color: white;          
  border: 2px solid #2e7d32;
}